/* Reset */
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    max-width: 1000px;  
}
/* common */

/* typografy */
body{
    font-family: 'Fredoka', sans-serif; 
}
/* main */
/* title */
h1{
    color: #E53170;
    text-align: center;
    padding-top: 30px;
}
/* description */
p{
    text-align: center;
}
.description{
    margin-top: 60px;
}
