/* Reset */
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    max-width: 1000px;  
}
/* common */
img{
    width: 100px;
    height: 100px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.id-description{
    height: 100px;
    width: calc(1000px/3 - 10px);
    background-color: black;
    float: left;
    margin: 5px;
}
/* typografy */
body{
    font-family: 'Fredoka', sans-serif; 
}
/* main */
/* title */
h1{
    color: #E53170;
    text-align: center;
    padding-top: 30px;
}
/* description */
p{
    text-align: center;
}
.description{
    margin-top: 60px;
}
/* description components tem  */
