/* Reset */
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    max-width: 1000px;  
}
/* common */
img{
    width: 100px;
    height: 100px;
    
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.id-description{
    height: 100px;
    width: calc(1000px/3 - 20px);
    background-color: black;
    float: left;
    margin: 10px;
}
/* typografy */
body{
    font-family: 'Fredoka', sans-serif; 
}
.colore-testo{
    color: white;
}
.prova{
    float: right;  
}
h3{
    color: white;
    text-align: left;
}
a{
    display: block;
    color: aqua;
    text-decoration: none;
}

/* main */
/* title */
h1{
    color: #E53170;
    text-align: center;
    padding-top: 30px;
}
/* description */
.description{
    text-align: center;
    margin-top: 60px;
}

